/* app/assets/product-row.css */

.product-row {
  display: grid;
  gap: 1.5rem;
  margin-block: 2rem;
}

.product-row[data-columns='1'] {
  grid-template-columns: 1fr;
  max-width: 360px;
  margin-inline: auto;
}

.product-row[data-columns='2'] {
  grid-template-columns: repeat(2, 1fr);
}

.product-row[data-columns='3'] {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 749px) {
  .product-row[data-columns='2'],
  .product-row[data-columns='3'] {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 750px) and (max-width: 989px) {
  .product-row[data-columns='3'] {
    grid-template-columns: repeat(2, 1fr);
  }
}